
.sidebar{
    position:fixed;
    left:-250px;
    width: 250px;
    height:100% ;
    background: #042331;
    transition: all .5s ease;
    height: 270px;
}
.sidebar-header{
    font-size: 22px;
    color:white;
    text-align:center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}
.sidebar ul a{
    display:block;
    height: 10px;
    width:100px;
    line-height:65px;
    font-size: 20px;
    color:white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4;
    background-color:#042331;
}
ul li:hover a{
    padding-left: 50px;
    margin-right: 16px;
}
#check{
    display:none;
}
label.open, label.close{
    position:absolute;
    cursor:pointer;
    background: #042331;
    border-radius: 3px;

}
label.open{
    left: 40px;
    top: 35px;
    font-size: 35px;
    color: white;
    padding: 1px 12px;
    transition: all .5s;

}
label.close{
    z-index:1111;
    left: -195px;
    top: 41px;
    font-size: 30px; 
    color:#0a5275;
    padding: 4px 9px;
    transition: all .5s;
}
#check:checked ~ .sidebar{
    left:0;
}
#check:checked ~ label.open{
    left:250px;
    opacity:0px;
    pointer-events: none;
}
#check:checked ~ label.close{
    left: 195px;
}
.header{
text-align:center ;
background-image: url(../Complementos/imagenes/buho1.png);
height: 200px;
background-position: center ;
background-size:cover ;
display:flex;
justify-content:center ;
align-items:center ;
border-radius: 30px;
height: 300px;
}
li{font-size:25;
text-align:justify;
padding:30px;
font-family: 'Times New Roman';
}
.titulo{font-size:100px;
text-align:center ;
color:white;
}
p{font-size:25;
text-align:justify;
padding:30px;
font-family: 'Times New Roman';
}
h2{font-size:35;
padding:0px 30px
}
li{font-size:25;
text-align:justify;
padding:30px;
font-family: 'Times New Roman';
}
.imagenes{
    margin:auto;
    display: block;
    place-items:center;
    height: 300px;
}
.buho{
    margin:auto;
    display: 40px;
    padding: auto;
}
.contenedor-imagenes{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    width: 90%;
    margin: 100px;
    margin-top: 10px;
}
.contenedor-imagenes img{
    width: 300px;
    height: auto;
}
.contenedor-imagenes-2{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    width: 90%;
    margin: 100px;
    margin-top: 10px;
}
.contenedor-imagenes-2 img{
    width: 300px;
    height: auto;
}
.referencias{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    font-size: 20px;
}
.header-anatomia{
text-align:center ;
background-image: url(../Complementos/imagenes/buho9.png);
height: 200px;
background-position: center ;
background-size:cover ;
display:flex;
justify-content:center ;
align-items:center ;
border-radius: 30px;
height: 300px;
}
.titulo-anatomia{font-size:90px;
text-align:center ;
color:white;
}
.video{
    display: flex;
    align-items: center;
    justify-content: center;
}
.referencias-anatomia{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    font-size: 20px;
}
.table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    padding: 1px;
    border: 1px solid black;
}
.header-listas{
text-align:center ;
background-image: url(../Complementos/imagenes/buho12.png);
height: 300px;
background-position: center ;
background-size:cover ;
display:flex;
justify-content:center ;
align-items:center ;
border-radius: 30px;
height: 300px;
}
.titulo-listas{font-size:70px;
text-align:center ;
color:white;
}